[submodule "mfe-auth"]
	path = mfe-auth
	url = https://github.com/gabrielbay011/mfe-auth.git
[submodule "mfe-root-config"]
	path = mfe-root-config
	url = https://github.com/gabrielbay011/mfe-root-config.git
[submodule "mfe-buildings"]
	path = mfe-buildings
	url = https://github.com/gabrielbay011/mfe-buildings.git
